---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
		<h1>About Me</h1>
        <h2>... And my astro adventures</h2>
        <p><strong>TL;DR;</strong> I'm a maker</p>
        <p>I'm a Product Manager by day, creative coder, curious creature by night (actually all the time) :D</p>
        <p>I enjoy learning and trying new things. from coding and learning new tools and frameworks to Electronics and 3D Printing. I also do some wood working on the side.</p>
        
	</body>
</html>
