---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
//const allPosts = Object.values(await import.meta.glob('./posts/*.md',{eager:true}));
const allPosts = await getCollection("blog");
const pageTitle = "My Amazing Astro Learning blog"
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is where I post about my learning experiences with Astro, and other things</p>
    <ul>
        
        {allPosts.map((post: any)=> <BlogPost url={`/posts/${post.id}`} title={post.data.title} pubDate={post.data.pubDate} />)}
    </ul>
</BaseLayout>
