---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = Object.values(await import.meta.glob('./posts/*.md',{eager:true}));
const pageTitle = "My Amazing Astro Learning blog"
---
<BaseLayout pageTitle={pageTitle}>
    <p>This is where I post about my learning experiences with Astro, and other things</p>
    <ul>
        
        {allPosts.map((post: any)=> <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
