---
import Navigation from './Navigations.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
<p>My Astro Website</p>
<nav>
    <Hamburger />
    <ThemeIcon />
    <Navigation />
</nav>

</header>